pre {
  counter-reset: line;
}
.code-line {
  white-space: pre-wrap;
  word-break: break-word;
}
.code-line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2em;
  margin-right: 1em;
  color: #666;
  text-align: right;
  user-select: none;
}
.code-block {
  --el-card-padding: 1rem;
  border: solid 1px #dce0e5;
  border-radius: 0.5rem;
}
.code-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code-block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mermaid-container {
  display: block !important;
  max-width: 100%;
  overflow: auto;
}
.markdown-container {
  line-height: 1.5;
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
  }

  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
}
