@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #275be2,
    ),
    "success": (
      "base": #239900,
    ),
    "warning": (
      "base": #de7600,
    ),
    "danger": (
      "base": #e60000,
    ),
    "error": (
      "base": #e60000,
    ),
    "info": (
      "base": #909399,
    ),
  ),
  $menu: (
    "item-height": "48px",
  ),
  $button-padding-vertical: (
    "large": 13px,
    "default": 5px,
    "small": 6px,
  ),
  $table-padding: (
    "large": 12px 0,
    "default": 13px 0,
    "small": 4px 0,
  ),
  $button-padding-horizontal: (
    "large": 20px,
    "default": 16px,
    "small": 12px,
  ),
  // $fill-color: (
  //   "": #f0f2f5,
  //   "light": #f5f7fa,
  //   "lighter": #fafafa,
  //   "extra-light": #fafcff,
  //   "dark": #ebedf0,
  //   "darker": #e6e8eb,
  //   "blank": #f8fafc,
   // )
);
@use 'element-plus/theme-chalk/src/dark/css-vars.scss';
