* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maple Mono CN", "Maple Mono CN Light", "Maple Mono CN Medium", "Maple Mono CN Thin";
}
body {
  font-size: 1.6rem;
}
#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
svg:focus {
  outline: none;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--el-fill-color-lighter);
  border-radius: 4px;
  transition: background-color 0.3s;
  opacity: 0.3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-fill-color-dark);
}
::-webkit-scrollbar-track:hover {
  border-radius: 4px;
}
