* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MapleMono", sans-serif;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  font-size: 1.6rem;
}
#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
