* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  font-size: 1.6rem;
}
#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.hljs,
.mermaid,
.shiki,
code {
  font-family: "Maple Mono CN", "Maple Mono CN Light", "Maple Mono CN Medium", "Maple Mono CN Thin";
}

svg:focus {
  outline: none;
  box-shadow: none;
}
