/* ./fonts/MapleMono/fonts.css */
/* 基础字体定义 */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 斜体变体系列 */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 字重变体 - 从细到粗组织 */
/* Thin (100) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ExtraLight (200) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MapleMono";
  src: url("./fonts/MapleMono/MapleMono-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
