pre {
  counter-reset: line;
}
.shiki {
  code {
    span.line {
      white-space: pre-wrap;
      word-break: break-word;
    }
    span.line::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      width: 2em;
      margin-right: 1em;
      color: #666;
      text-align: right;
      user-select: none;
    }
  }
}
html.dark {
  .markdown-container {
    table th {
      background-color: #313131;
    }

    table th,
    table td {
      border: 1px solid #000;
    }

  }
}
.markdown-container {
  line-height: 1.5;
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
  }

  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  ol,
  ul {
    padding-left: 0;
    margin-top: 0;
    list-style-position: outside;
  }
  ul {
    list-style-type: none;
    li {
      padding-left: 1rem;
      margin: 2px 0;
    }
  }
  ol {
    list-style-type: none;
    li {
      margin: 2px 0;
      padding-left: 1rem;
    }
  }
}
