pre {
  counter-reset: line;
}
.markdown-container {
  position: relative;
  line-height: 1.5;
  word-break: break-all;
  pre {
    width: 100%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
  }

  table th,
  table td {
    border: 1px solid var(--el-border-color-lighter);
    padding: 8px;
  }

  table th {
    background-color: var(--el-fill-color-dark);
    text-align: left;
  }
  ol,
  ul {
    padding-left: 0;
    margin-top: 0;
    list-style-position: outside;
  }
  ul {
    list-style-type: none;
    li {
      padding-left: 1rem;
      margin: 2px 0;
    }
  }
  ol {
    list-style-type: none;
    li {
      margin: 2px 0;
      padding-left: 1rem;
    }
  }
}
