name: build

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Custom ralease tag (eg: 0.0.1)"
        required: true
        default: "0.0.1"
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - platform: windows
            os: windows-latest
            arch: amd64
          - platform: linux
            os: ubuntu-latest
            arch: amd64
          - platform: macos
            os: macos-latest
            arch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get latest version
        id: get-latest-version
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          else
            echo "version=$(echo "$(git describe --tags --abbrev=0)" | sed 's/^v//')" >> $GITHUB_OUTPUT
          fi
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          cache: true
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: "24.12.0"
          cache: "pnpm"
          package-manager-cache: true
          cache-dependency-path: "pnpm-lock.yaml"
      - name: Install dependencies
        run: |
          pnpm install -w
      - name: Build for windows
        if: ${{ startsWith(matrix.platform, 'windows') }}
        run: |
          pnpm build:win
        env:
          NODE_OPTIONS: --max-old-space-size=8192
      - name: Build for macos
        if: ${{ startsWith(matrix.platform, 'macos') }}
        run: |
          pnpm build:mac
        env:
          NODE_OPTIONS: --max-old-space-size=8192
      - name: Build for linux
        if: ${{ startsWith(matrix.platform, 'linux') }}
        run: |
          pnpm build:linux
        env:
          NODE_OPTIONS: --max-old-space-size=8192
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: windflow-${{ matrix.platform }}-v${{ steps.get-latest-version.outputs.version }}-${{ matrix.arch }}
          path: |
            ./dist/*.exe
            ./dist/*.zip
            ./dist/*.dmg
            ./dist/*.AppImage
            ./dist/*.deb
            ./dist/*.blockmap
          overwrite: true
  changelog:
    permissions: write-all
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: refs/heads/main
      - name: Get latest version
        id: get-latest-version
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          else
            echo "version=$(echo "$(git describe --tags --abbrev=0)" | sed 's/^v//')" >> $GITHUB_OUTPUT
          fi
      - name: Generate
        run: |
          latest_tag="v${{ steps.get-latest-version.outputs.version }}"
          touch CHANGELOG.md
          touch CHANGES.md
          if previous_tag=$(git describe --tags --abbrev=0 "$latest_tag"^ 2>/dev/null); then
            git log --pretty=format:"- %s" "$previous_tag".."$latest_tag" > CHANGES.md
          fi
          {
            echo "## $latest_tag"
            echo ""
            cat CHANGES.md
            echo ""
            echo ""
            cat CHANGELOG.md
          } > NEW_CHANGELOG.md
          mv NEW_CHANGELOG.md CHANGELOG.md
      - name: Commit
        run: |
          git config --local user.email "arshdebian@163.com"
          git config --local user.name "arsh-bot"
          git add CHANGELOG.md
          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi
          git commit -m "chore: update changelog for ${{ github.ref_name }}"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload:
    permissions: write-all
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get latest version
        id: get-latest-version
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          else
            echo "version=$(echo "$(git describe --tags --abbrev=0)" | sed 's/^v//')" >> $GITHUB_OUTPUT
          fi
      - name: Download
        uses: actions/download-artifact@v4
        with:
          path: ./dist/
          pattern: windflow-*
          merge-multiple: true

      - name: Generate release notes
        run: |
          latest_tag="v${{ steps.get-latest-version.outputs.version }}"
          previous_tag=$(git describe --tags --abbrev=0 $latest_tag^ 2>/dev/null || echo "")

          if [ -z "$previous_tag" ]; then
            git log --pretty=format:"- %s" $latest_tag > release.md
          else
            git log --pretty=format:"- %s" $previous_tag..$latest_tag > release.md
          fi
      - name: Patch release.md
        run: |
          version="${{ steps.get-latest-version.outputs.version }}"
          if [ -f ./.github/release_template.md ]; then
            sed "s|VERSION|$version|g" ./.github/release_template.md >> release.md
          fi
      - name: Generate sha256
        run: |
          cd ./dist
          for file in $(find . -type f -not -name "*.sha256"); do
            sha256sum "$file" > "${file}.sha256"
          done
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          if: github.ref_type == 'tag'
          files: ./dist/*
          body_path: "./release.md"
          draft: false
          prerelease: ${{ contains(github.ref, '-') }}
